@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
.hideOverflow {
  overflow-x: hidden;
} */

.layoutWidth {
  @apply w-full  max-w-[90%] lg:max-w-[93%] 2xl:max-w-[1600px] mx-auto;
}

h1 {
  @apply text-3xl  lg:text-5xl 2xl:text-6xl  font-bold;
}
h2 {
  @apply text-2xl  lg:text-4xl 2xl:text-5xl  font-semibold;
}

h3 {
  @apply text-xl  lg:text-3xl 2xl:text-4xl  font-semibold;
}
h4 {
  @apply text-lg  lg:text-xl    font-semibold;
}

.backgroundImage {
  background: url(../assets/images/box3.png);
}

.boxGradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.51) 100%
  );
  border-radius: 20px;

}
