@tailwind base;
@tailwind components;
@tailwind utilities;

.layoutWidth {
  @apply w-full max-w-[90%] lg:max-w-[93%] mx-auto;
}

h1 {
  @apply text-3xl  lg:text-5xl 2xl:text-6xl  font-bold;
}
h2 {
  @apply text-2xl  lg:text-4xl 2xl:text-5xl  font-semibold;
}

h3 {
  @apply text-xl  lg:text-3xl 2xl:text-4xl  font-semibold;
}
h4 {
  @apply text-lg  lg:text-xl    font-semibold;
}

.backgroundImage {
  background: url(../assets/images/box3.png);
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.5s ease-out;
}



